*,
*:before,
*:after {
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}

.top {
    position: fixed;
    top: 85%;
    right: 48px;
    z-index: 100;
    width: 71px;
    height: 71px;
    font-size: 20px;
    font-weight: bold;
}

// section intro

.section-intro {
    height: 130vh;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 218.06px;
    height: 40px;
}

.fee {
    padding-left: 32px;
    padding-right: 32px;
    color: white;
}

.intro-main {
    display: flex;
    align-items: center;
}

.intro-h1 {
    color: #56C4C5;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}

.intro-p {
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
}

.intro-h2 {
    font-size: 20px;
    line-height: 29px;
}

// ball

.hero_ball {
    width: 360px;
    height: 360px;
    position: absolute;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg');
    top: calc(100vh - 180px);
    left: -222px;
}

.hero_ball2 {
    width: 210px;
    height: 310px;
    position: absolute;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg');
    background-position: left;
    top: calc(100vh - 155px);
    right: 0px;
}

.hero_ball3 {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg');
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: -10;
    top: 46px;
}

// section platform
.section-platform {
    margin-top: 101px;
}

.all-platform {
    display: flex;
    justify-content: space-around;
}

.platform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img {
        width: 90px;
        height: 90px;
    }

    h3 {
        font-size: 24px;
        line-height: 35px;
    }

    p {
        color: #747474;
        font-size: 16px;
        line-height: 24px;
    }
}

// section TA
.TA-card-title,
.card-text {
    line-height: 24px;
    font-size: 16px;
}

.TA-card-title {
    color: #56C4C5;
}

// section service
.service-card {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
}


.card-img-container {
    width: 86px;
    height: 86px;
    padding: 17.41px 17.86px;
    background-position: center;
    background-repeat: no-repeat;
}

.service-card-title {
    font-size: 18px;
    line-height: 26px;
}

.service-btn {
    padding: 12px 32px;
}

// section comment
.comment-img {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    top: -56px;
    left: 32px;
}

.stars {
    width: 121.02px;
}

.star {
    height: 16px;
    width: 16.78px;
}

.pages {
    width: 70px;

    >* {
        cursor: pointer;
    }
}

.page {
    width: 10px;
    height: 10px;
    background-color: #DDDDDD;

    &-now {
        width: 16px;
        height: 10px;
        background-color: #FFD153;
    }
}

// footer
.footer {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg');
    background-size: 100% 100%;

    &-title {
        padding-top: 260px;
    }

    &-btn {
        width: 136px;
    }
}

.copyright {
    background-color: #F5F5F5;
}

// 共用樣式
.section-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
}

.shadow-cus {
    box-shadow: 0px 2px 10px #00000014;
}

.normal-text {
    font-size: 16px;
}

.hr {
    border-top: 1px solid #DDDDDD;
}

.mt-100 {
    margin-top: 100px;
}

// RWD 手機版面

@media (max-width: 767px) {

    // section intro
    .logo {
        width: 130.84px;
        height: 24px;
        vertical-align: middle;
    }

    .section-intro {
        height: 100vh;
        background-image: none;
    }

    .intro-h1 {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-p {
        font-size: 32px;
        line-height: 46px;
    }

    .intro-h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-main {
        display: block;
        margin-top: 32px;
    }

    .home {
        height: 305.5px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg'), url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        margin-top: 32px;
        margin-bottom: 60px;

        img {
            width: 304.32px;
            margin: 0 auto;
            display: block;
        }
    }

    // ball
    .hero_ball {
        width: 126px;
        height: 126px;
        position: absolute;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg');
        background-position: right;
        background-size: 100% 100%;
        top: 100vh;
        left: -77px;
    }

    // 共用樣式
    .section-title {
        font-size: 28px;
        line-height: 40px;
    }

    div.mt-60 {
        margin-top: 60px;
    }
}